.navbar {
  background-color: rgb(52, 112, 155);
}

.navbar .user-info {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 3px 5px;
}
.navbar .btn-cart {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 3px 5px;
}
